.SearchDiv {
    display: flex;
}

.SearchDiv button {
    color: white;
    margin: 10px;
    background-color: rgb(250, 51, 51);
    padding: 10px;
    border-radius: 5px;
    border-color: rgb(250, 51, 51);
}

.SearchDiv input {
    padding: 10px;
    border-radius: 5px;
}